:root {
	--primary-green: #0c7b93;
	--secondary-gray: #dbd8e3;

	/* font-sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 3rem;
	--text-6xl: 3.75rem;
	--text-7xl: 4.5rem;
}
/* General Sytles */
html {
	font-family: system-ui;
}

body {
	background-color: #142850;
	color: #5c5470;
}

/* Remove Default Style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.highlight {
	color: var(--primary-green);
}

.underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(var(--primary-green), var(--primary-green));
	background-size: 0 2px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.2s ease-in-out;
}

.underline:hover {
	background-size: 100% 2px;
	background-position: 0 100%;
}

/* Layout */
main {
	max-width: 24rem;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: 32rem;
	}
}

/* large */
@media (min-width: 768px) {
	main {
		max-width: 42rem;
	}
}

/* xl */
@media (min-width: 1024px) {
	main {
		max-width: 48rem;
	}
}

/* 2xl */
@media (min-width: 1280px) {
	main {
		max-width: 64rem;
	}
}

/* 3xl */
@media (min-width: 1440px) {
	main {
		max-width: 90rem;
	}
}
